.promo {
    height: 524px;
    width: 100%;
    background-color: #073042;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: relative;
}



.promo__text {
    margin: 184px 0 0 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    width: 730px;
    color: #ffffff;
    text-align: center;
}

.promo__logo {
    margin-top: 84px;
    width: 320px;
    height: 320px;
    position: absolute;
}

@media screen and (max-width:1023px) {
    .promo {
        height: 784px;
        align-items: center;
    }

    .promo__text {
        margin: 0px 0 14px 0;
        font-size: 46px;
    }

    .promo__logo {
        margin: 0px 0 16px
    }
}

@media screen and (max-width:767px) {

    .promo {
        height: 570px;
    }

    .promo__text {
        font-size: 29px;
        line-height: 39px;
        margin: 0 0 38px 0;
    }

    .promo__logo{
        width: 248px;
        height: 248px;
        margin: 0 0 36px 0;
    }

}