.pageNotFound__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  
  .pageNotFound__status {
    margin: 0;
    font-size: 140px;
    font-weight: 400;
    margin-top: 250px;
  }
  
  .pageNotFound__description {
    margin: 9px 0 183px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .pageNotFound__link {
    text-decoration: none;
    color: #4285f4;
    font-size: 14px;
    font-weight: 400;
    transition: var(--transition);
  }
  
  .pageNotFound__link:hover {
    opacity: var(--link-opacity);
  }
  
  @media screen and (max-width: 767px) {
    .pageNotFound__status {
      margin-top: 410px;
    }
  
    .pageNotFound__description {
      margin: 11px 0 187px;
      font-size: 16px;
      font-weight: 400;
    }
    
  }
  
  @media screen and (max-width: 430px) {
    .pageNotFound__status {
      font-size: 80px;
      margin-top: 334px;
    }
  
    .pageNotFound__description {
      margin: 10px 0 287px;
      font-size: 12px;
    }
  
    .pageNotFound__link {
      font-size: 12px;
    }
  }