.page__login {
  padding-top: 69px;
  margin: 0 auto;
  width: 400px;
}

.login__exit{
  text-align: center;
}

@media screen and (max-width: 767px) {
  .page__login {
    padding-top: 240px;
  }
}

@media screen and (max-width: 525px) {
  .page__login {
    padding-top: 60px;
    width: calc(265/320*100%);
  }
}

.login__link-home {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url(../../images/logo.svg);
  transition: opacity .4s linear;
}

@media screen and (max-width: 525px) {
  .login__link-home {
    margin: 0 auto;
  }
}

.login__title {
  margin: 39px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: var(--main-font-color);
}

@media screen and (max-width: 525px) {
  .login__title {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 85px;
  }
}

.login__text {
  margin: 18px 0 0;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  color: var(--main-font-color);
}

@media screen and (max-width: 525px) {
  .login__text {
    font-size: 13px;
  }
}

.login__link {
  text-decoration: none;
  color: #4285F4;
  transition: opacity .4s linear;
}

@media (hover: hover) and (pointer: fine) {
  .login__link:hover {
    opacity: .8;
  }

  .login__link-home:hover {
    opacity: .8;
  }
}
