.aboutProject {
    background-color: #202020;
    color: #ffffff;
    width: 89%;
}

.aboutProject__container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.aboutProject__container-block {
    width: 550px;
}

.aboutProject__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    margin: 0;
    padding-top: 70px;
}

.aboutProject__title{
    padding:110px 0 23px 0;
    border-bottom: 1px solid #DADADA;
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
}

.aboutProject__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding-top: 26px;
}

.aboutProject__progress {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 0;
    padding-top: 110px;
    width: 100%;
    color: black;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;

    padding-bottom: 110px;
}

.aboutProject__progress-m {
    background-color: #3DDC84;
    width: 19.9%;
    margin: 0;
    padding: 10px 0 9px 0;
}

.aboutProject__progress-l {
    background-color: #303030;
    color: #ffffff;
    width: 80.1%;
    margin: 0;
    padding: 10px 0 9px 0;
}

.aboutProject__progress-span{
    color: white;
    padding: 0;
    background-color: inherit;
}

@media screen and (max-width:1023px){

    .aboutProject{
        width: 87%;
    }

    .aboutProject__title{
        padding: 91px 0 21px 0px;
    }

    .aboutProject__description{
        font-size: 12px;
        line-height: 18px;
    }

    .aboutProject__progress{
        padding: 90px 0 90px 0;
    }

    .aboutProject__progress-m{
        width: 21%;
    }

    .aboutProject__progress-l{
        width: 79%;
    }
}

@media screen and (max-width:767px){
    
    .aboutProject{
        width: 89%;
    }
    
    .aboutProject__title{
        padding: 71px 0 27px 0;
        font-size: 18px;
        line-height: 21.78px;
    }

    .aboutProject__subtitle{
        font-size: 17px;
        line-height: 21.78px;
        padding-top: 0;
    }

    .aboutProject__container{
        flex-direction: column;
        margin-top: 62px;
        gap: 52px;
    }

    .aboutProject__container-block{
        max-width: 300px;
    }

    .aboutProject__description{
        padding-top: 14px;
    }

    .aboutProject__progress{
        padding: 54px 0 90px 0;
        gap: 0;
    }

    .aboutProject__progress-m{
        width: 35%;
        font-size: 11px;
        line-height: 13.31px;
        padding: 13px 0 10px 0;
    }

    .aboutProject__progress-l{
        width: 65%;
        font-size: 11px;
        line-height: 13.31px;
        padding: 13px 0 10px 0;
    }
}
